@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

body{
    background-color:rgb(26, 25, 25);
    font-family: roboto;
		color:rgb(255, 255, 255)
}


/*Header*/
body {
  font-family:roboto;
  margin:25px;
  font-size:12px;
}
/*Title - Cyber Security Tools CSS*/
#myHeader {
  font-size:40px;
  text-align:center;
  font-family: monospace;
}
a:link, a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:hover, a:active{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/*Navigation Bar CSS*/
.nav {
  border-bottom: 3px solid green;
  overflow:hidden;
  background-color: rgb(26, 25, 25);

}
.nav a {
  float: left;
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow:inherit;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.nav a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: green;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Main Body*/
/*Card*/
.card {
  box-shadow: 0 4px 8px 0 green;
  transition: 0.3s;
  width: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 green;
}
.container {
  padding: 5px 10px;
  color:white;
  text-align: center;
  font-size: 20px;
}
.column {
  float: left;
  width: 23%;
  padding: 0 10px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row {
  margin-left: 10px;
  /*margin: 0 -5px;*/
}
.row:after {
  content: "";
  display: table;
  clear: both;
  align-self: center;
}
/*Footer*/

