*{
	color: white;
}

/* .center {
	text-align: center;
	margin: auto;
	width: 50%;
	border: 3px solid green;
	
} */
.center {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 400px;
	/* border: 3px solid green; */
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}
body{
	background-image: linear-gradient(rgb(59, 59, 59), rgb(0, 0, 0));
	height: max-content;
} 
div h1.my-name {
	color: white;
	font-style: oblique;
}